.Contaner
{
    margin-top: none;
    background-color: brown;
    margin-right: 80%;
    padding-bottom: 100%;
}
.Contaner01
{
    background-color: brown;
    margin-top: -102.5%;
    padding-bottom: 15%;
    margin-right: 30%;
    margin-left: 20.5%;
}
.Contaner02
{
    background-color: rgb(17, 51, 202);
    margin-top: -102.5%;
    padding-bottom: 15%;
    margin-right: 5%;
    margin-left: 70.5%;
}